//
   Created by hevlhayt@foxmail.com 
   on 2016/8/24.

extends origin

block content
  #body
    .message_box
      .message_box_inner
        form(id='message', action='')
          div
            textarea(name='message')
          .submit
            input(type='submit' name='post' value='POST!')

    #talks_box
      #talks
        #1.talk.system=  '►► 甘樂 さんが入室しました'
        dl(class='talk tanaka' id='2')
          dt= '罪歌'
          dd
            .bubble
              p(class='body')= 'Hello'

        dl(class='talk zawa' id='3')
          dt= '田中太郎'
          dd
            .bubble
              p(class='body')= '???'

        dl(class='talk kanra' id='4')
          dt= '鳳凰院兇真'
          dd
            .bubble
              p(class='body')= 'el psy congroo'

        dl(class='talk zaika' id='5')
          dt= '大家的诚'
          dd
            .bubble
              p(class='body')= '嗯大家好'

        dl(class='talk gg' id='6')
          dt= '不便透露'
          dd
            .bubble
              p(class='body')= '+1s'

